.container {
    width: 100%;
    max-width: 1728px;
    height: 1117px;
    margin: 0 auto;
    background-color: #F7F3F3;
}

.order-modal {
    display: flex;
    flex-direction: column;
    max-width: 502px;
    width: 100%;
    padding: 40px 34px 38px 34px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    z-index: 100;
    position: relative;
    top: 259px;

    &__title {
        font-size: 32px;
        line-height: 39px;
        color: #2D1509;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__payment {
        display: flex;
        background-color: #F3E9E9;
        border-radius: 500px;
        width: 100%;
        max-width: 434px;
        margin-bottom: 32px;
    }

    &__payment-method {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 211px;
        margin: 6px;
        border-radius: 40px;
        padding: 14px;
        cursor: pointer;
        font-size: 15px;
        text-align: center;
    }

    &__payment-method:hover {
        background-color: #EADFDF;
    }

    &__form {
        width: 100%;
        max-width: 434px;
        margin-bottom: 52px;

    }

    &__info {
        width: 100%;
        max-width: 316px;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 500;
        font-size: 12px;
        color: #AFA3A3;
        text-align: center;

    }

    &__underline {
        width: 100%;
        max-width: 195px;
        margin: 0 auto;
        height: 0.5px;
        background: rgba(175, 163, 163, 0.5);
    }

    &__close-btn {
        position: absolute;
        max-width: 32px;
        top: 10px;
        right: -60px;
        cursor: pointer;
    }
}


.modal-order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    width: 100%;
    max-width: 434px;
    background-color: #EB5C05;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
}

.modal-order-button:hover {
    background-color: #F4813A;
}

.order-input {

    background-color: #F7F3F3;
    border: none;
    padding: 20px 32px 20px 24px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 434px;

    &__first {
        border-radius: 24px 24px 0px 0px;
    }

    &__left {
        border-radius: 0px 0px 0px 24px;
    }

    &__right {
        border-radius: 0px 0px 24px 0px;
    }

    &__exact-adresses {
        display: flex;
        gap: 2px;
    }

    &__exact-adress {
        width: calc(33% - 2x)
    }
}

.city-choice {
    position: relative;

    &__list {
        background-color: #F7F3F3;
        position: absolute;
        width: 100%;
        max-width: 434px;
        max-height: 215px;
        padding-left: 24px;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 24px 24px;
        top: 50px;
        z-index: 50;
    }

    &__content {
        width: 100%;
        max-width: 378px;
        border-top: 0.5px solid #E1D2D2;
        padding-top: 10px;
    }

    &__item {
        font-weight: 500;
        font-size: 15px;
        color: #2D1509;
        margin-bottom: 12px;
        cursor: pointer;
    }

    &__item:hover {
        color: #EB5C05;
    }
}

.street-choice {
    position: relative;

    &__list {
        background-color: #F7F3F3;
        position: absolute;
        width: 100%;
        max-width: 434px;
        max-height: 215px;
        padding-left: 24px;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 24px 24px;
        top: 50px;
    }

    &__content {
        width: 100%;
        max-width: 378px;
        border-top: 0.5px solid #E1D2D2;
        padding-top: 10px;
    }

    &__item {
        font-weight: 500;
        font-size: 15px;
        color: #2D1509;
        margin-bottom: 12px;
        cursor: pointer;
    }

    &__item:hover {
        color: #EB5C05;
    }
}

.hidden {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.inter {
    font-family: 'Inter', sans-serif;
}

.active {
    background-color: #fff;
    box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.08);
    color: #EB5C05;
}

.active:hover {
    background-color: #fff;
}

.privacy-policy {
    text-decoration: underline;
}

@media screen and (max-width:420px) {
    .order-modal {
        border-radius: 24px 24px 0px 0px;
        box-shadow: none;

        &__title {
            font-size: 26px;
        }

        &__payment-method {
            font-size: 13px;
        }
    }
}