.modal-accepted{
    display:flex;
    flex-direction: column;
    min-height:587px;
  &__title{
    color:#C0B3AB;
    font-size: 32px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 12px;
  }
  &__description{
    font-weight:600;
    font-size:22px;
    color:#2D1509;
  }
  &__btn{
    margin-top:auto;
    justify-content: space-between;
  }

}