.container {
    width: 100%;
    max-width: 1728px;
    height: 1117px;
    margin: 0 auto;
    background-color: #F7F3F3;
}

.order-modal {
    display: flex;
    flex-direction: column;
    max-width: 502px;
    width: 100%;
    padding: 40px 34px 38px 34px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    z-index: 100;
    position: relative;
    top: 259px;
}

.order-modal__title {
        font-size: 32px;
        line-height: 39px;
        color: #2D1509;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .order-modal__payment {
        display: flex;
        background-color: #F3E9E9;
        border-radius: 500px;
        width: 100%;
        max-width: 434px;
        margin-bottom: 32px;
    }

    .order-modal__payment-method {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 211px;
        margin: 6px;
        border-radius: 40px;
        padding: 14px;
        cursor: pointer;
        font-size: 15px;
        text-align: center;
    }

    .order-modal__payment-method:hover {
        background-color: #EADFDF;
    }

    .order-modal__form {
        width: 100%;
        max-width: 434px;
        margin-bottom: 52px;

    }

    .order-modal__info {
        width: 100%;
        max-width: 316px;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 500;
        font-size: 12px;
        color: #AFA3A3;
        text-align: center;

    }

    .order-modal__underline {
        width: 100%;
        max-width: 195px;
        margin: 0 auto;
        height: 0.5px;
        background: rgba(175, 163, 163, 0.5);
    }

    .order-modal__close-btn {
        position: absolute;
        max-width: 32px;
        top: 10px;
        right: -60px;
        cursor: pointer;
    }



.modal-order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    width: 100%;
    max-width: 434px;
    background-color: #EB5C05;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
}

.modal-order-button:hover {
    background-color: #F4813A;
}

.order-input {

    background-color: #F7F3F3;
    border: none;
    padding: 20px 32px 20px 24px;
    margin-bottom: 2px;
    width: 100%;
    max-width: 434px;
}
.order-input__first {
        border-radius: 24px 24px 0px 0px;
    }

    .order-input__left {
        border-radius: 0px 0px 0px 24px;
    }

    .order-input__right {
        border-radius: 0px 0px 24px 0px;
    }

    .order-input__exact-adresses {
        display: flex;
        gap: 2px;
    }

    .order-input__exact-adress {
        width: calc(33% - 2x)
    }


.city-choice {
    position: relative;
}
.city-choice__list {
        background-color: #F7F3F3;
        position: absolute;
        width: 100%;
        max-width: 434px;
        max-height: 215px;
        padding-left: 24px;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 24px 24px;
        top: 50px;
        z-index: 50;
    }

    .city-choice__content {
        width: 100%;
        max-width: 378px;
        border-top: 0.5px solid #E1D2D2;
        padding-top: 10px;
    }

    .city-choice__item {
        font-weight: 500;
        font-size: 15px;
        color: #2D1509;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .city-choice__item:hover {
        color: #EB5C05;
    }

.street-choice {
    position: relative;
}
.street-choice__list {
        background-color: #F7F3F3;
        position: absolute;
        width: 100%;
        max-width: 434px;
        max-height: 215px;
        padding-left: 24px;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 24px 24px;
        top: 50px;
    }

    .street-choice__content {
        width: 100%;
        max-width: 378px;
        border-top: 0.5px solid #E1D2D2;
        padding-top: 10px;
    }

    .street-choice__item {
        font-weight: 500;
        font-size: 15px;
        color: #2D1509;
        margin-bottom: 12px;
        cursor: pointer;
    }

    .street-choice__item:hover {
        color: #EB5C05;
    }


.hidden {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.inter {
    font-family: 'Inter', sans-serif;
}

.active {
    background-color: #fff;
    box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.08);
    color: #EB5C05;
}

.active:hover {
    background-color: #fff;
}

.privacy-policy {
    text-decoration: underline;
}

@media screen and (max-width:420px) {
    .order-modal {
        border-radius: 24px 24px 0px 0px;
        box-shadow: none;
    }
    .order-modal__title {
            font-size: 26px;
        }

        .order-modal__payment-method {
            font-size: 13px;
        }
    }




    .modal-accepted{
        display:flex;
        flex-direction: column;
        min-height:587px;
    }
    .modal-accepted__title{
        color:#C0B3AB;
        font-size: 32px;
        font-weight: 700;
        margin-top: 19px;
        margin-bottom: 12px;
      }
      .modal-accepted__description{
        font-weight:600;
        font-size:22px;
        color:#2D1509;
      }
      .modal-accepted__btn{
        margin-top:auto;
        justify-content: space-between;
      }
    
    
    
    
    
    @media screen and (max-width:420px){
    
    
      .modal-accepted{
      min-height: 294px;
    }
    .modal-accepted__title{
        font-size: 26px;
      }
      .modal-accepted_description{
        font-size: 18px;
      }
      .modal-accepted__btn{
        font-size: 14px;
      }
    }
    


    //////////////////////
    .order-modal {
        display: flex;
        flex-direction: column;
        max-width: 502px;
        width: 100%;
        padding: 40px 34px 38px 34px;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.15);
        border-radius: 24px;
        z-index: 100;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
      
    .order-modal__title {
            font-size: 32px;
            line-height: 39px;
            color: #2D1509;
            font-weight: 600;
            margin-bottom: 20px;
        }
    
        .order-modal__payment {
            display: flex;
            background-color: #F3E9E9;
            border-radius: 500px;
            width: 100%;
            max-width: 434px;
            margin-bottom: 32px;
        }
    
        .order-modal__payment-method {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 211px;
            margin: 6px;
            border-radius: 40px;
            padding: 14px;
            cursor: pointer;
            font-size: 15px;
            text-align: center;
        }
    
        .order-modal__payment-method:hover {
            background-color: #EADFDF;
        }
    
        .order-modal__form {
            width: 100%;
            max-width: 434px;
            margin-bottom: 52px;
    
        }
    
        .order-modal__info {
            width: 100%;
            max-width: 316px;
            margin: 0 auto;
            margin-top: 20px;
            font-weight: 500;
            font-size: 12px;
            color: #AFA3A3;
            text-align: center;
    
        }
    
        .order-modal__underline {
            width: 100%;
            max-width: 195px;
            margin: 0 auto;
            height: 0.5px;
            background: rgba(175, 163, 163, 0.5);
        }
    
        .order-modal__close-btn {
            position: absolute;
            max-width: 32px;
            top: 10px;
            right: -60px;
            cursor: pointer;
        }
    
    
    
    .modal-order-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        width: 100%;
        max-width: 434px;
        background-color: #EB5C05;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        padding: 20px;
        cursor: pointer;
    }
    
    .modal-order-button:hover {
        background-color: #F4813A;
    }
    
    .order-input {
    
        background-color: #F7F3F3;
        border: none;
        padding: 20px 32px 20px 24px;
        margin-bottom: 2px;
        width: 100%;
        max-width: 434px;
    }
    
    .order-input__first {
            border-radius: 24px 24px 0px 0px;
        }
    
        .order-input__left {
            border-radius: 0px 0px 0px 24px;
        }
    
        .order-input__right {
            border-radius: 0px 0px 24px 0px;
        }
    
        .order-input__exact-adresses {
            display: flex;
            gap: 2px;
        }
    
        .order-input__exact-adress {
            width: calc(33% - 2x)
        }
    
    
    .city-choice {
        position: relative;
    }
    
    .city-choice__list {
            background-color: #F7F3F3;
            position: absolute;
            width: 100%;
            max-width: 434px;
            max-height: 215px;
            padding-left: 24px;
            box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 24px 24px;
            top: 50px;
            z-index: 50;
        }
    
        .city-choice__content {
            width: 100%;
            max-width: 378px;
            border-top: 0.5px solid #E1D2D2;
            padding-top: 10px;
        }
    
        .city-choice__item {
            font-weight: 500;
            font-size: 15px;
            color: #2D1509;
            margin-bottom: 12px;
            cursor: pointer;
        }
    
        .city-choice__item:hover {
            color: #EB5C05;
        }
    
    
    .street-choice {
        position: relative;
    }
    
    .street-choice__list {
            background-color: #F7F3F3;
            position: absolute;
            width: 100%;
            max-width: 434px;
            max-height: 215px;
            padding-left: 24px;
            box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 24px 24px;
            top: 50px;
            overflow:scroll;
        }
    
        .street-choice__content {
            width: 100%;
            max-width: 378px;
            border-top: 0.5px solid #E1D2D2;
            padding-top: 10px;
        }
    
        .street-choice__item {
            font-weight: 500;
            font-size: 15px;
            color: #2D1509;
            margin-bottom: 12px;
            cursor: pointer;
        }
    
        .street-choice__item:hover {
            color: #EB5C05;
        }
    
    
    .hidden {
        display: none;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
    
    .inter {
        font-family: 'Inter', sans-serif;
    }
    
    .active {
        background-color: #fff;
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.08);
        color: #EB5C05;
    }
    
    .active:hover {
        background-color: #fff;
    }
    
    .privacy-policy {
        text-decoration: underline;
    }
    
    @media screen and (max-width:420px) {
        
        .order-modal {  
            border-radius: 24px 24px 0px 0px;
            padding:20px;
            top:100%;
            left: 50%;
            transform: translate(-50%,-100%);
         
        }
        .order-modal__form{
            margin-bottom: 25px;
        }
        .order-modal__title {
                font-size: 26px;
            }
        .order-modal__payment{
            margin-bottom: 23px;
        }
            .order-modal__payment-method {
                font-size: 13px;
            }
        }
    
        input{
            outline:none;
        }
        .input-error{
            outline:#D72631 1px solid;
            color:#D72631 ;
        }
    
        .modal-accepted{
            display:flex;
            flex-direction: column;
            min-height:587px;   
        }
        .modal-accepted__title{
            color:#C0B3AB;
            font-size: 32px;
            font-weight: 700;
            margin-top: 19px;
            margin-bottom: 12px;
          }
          .modal-accepted__description{
            font-weight:600;
            font-size:22px;
            color:#2D1509;
          }
          .modal-accepted__btn{
            margin-top:auto;
            justify-content: center;
            cursor:pointer;
          }
        
        
        
        
        
        @media screen and (max-width:420px){
         
          .modal-accepted{
          min-height: 294px;
          max-height: 294px;
          }
          .modal-accepted__title{
            font-size: 26px;
          }
          .modal-accepted__description{
            font-size: 18px;
          }
          .modal-accepted__btn{
            font-size: 14px;
          }
        }
        
    
        .modal-block{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height:100%;
            overflow-x: hidden;
            overflow-y: hidden;
            outline: 0;
        }
    
        .white{
            background-color: #fff;
        }
    
        .basket-form-title{
            font-size: 22px;
            font-weight:600;
            margin-top: 37px;
        }
        
        .basket-form-mobile{
            display:flex;
            flex-direction: column;
        }
    
        .basket-form-button{
            margin-top: 242px;
        }
    
        .basket-form-mobile{
            max-width:435px;
            width:100%;
        }
    
        .addresses-item{
            cursor:pointer;
            margin-bottom: 12px;
        }
    
        .addresses-item:hover{
          color:#EB5C05;
        }