/node_modules/*
/bitrix/*
/upload/*
/bitrix/cache/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/.idea
*.sql
*.zip
*.xml
*.html
test.php
/*.htaccess
.sass-cache
.usermin
.xlsx
.csv
.httpauth
package-lock.json
/nbproject/private/
/nbproject/
/колпаки/
/vendor/
